<p style="color: green"><%= notice %></p><br>
<h3>Customer Id: <%= @customer.id %></h3>
<%= render @customer %>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %> <br>

  <%= button_to "Destroy this customer", @customer, method: :delete %>
</div>
