<div id="<%= dom_id order %>">
  <p>
    <strong>Order number:</strong>
    <%= order.order_number %>
  </p>

  <p>
    <strong>Date of order:</strong>
    <%= order.date_of_order %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Billing address:</strong>
    <%= order.billing_address %>
  </p>

  <p>
    <strong>Shipping address:</strong>
    <%= order.address_id %>
  </p>

</div>
