<div id="<%= dom_id address %>">
  <p>
    <strong>Line1:</strong>
    <%= address.line1 %>
  </p>

  <p>
    <strong>Line2:</strong>
    <%= address.line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Pin:</strong>
    <%= address.pin %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= address.customer_id %>
  </p>

</div>
